<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <meta name="author" content="Sentient Social">
    <meta name="description" content="We're using artificial intelligence and automation to find and organically engage with your target audience. We weed out the bots and provide opportunities for authentic interactions with potential customers or fans.">
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/images/favicon.png") %>" />
    <link rel="apple-touch-icon" sizes="76x76" href="<%= static_path(@conn, "/images/apple-icon.png") %>" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />


    <title>Sentient Social</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <link href='<%= static_path(@conn, "/css/material-kit.min.css") %>' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
