<h1>User</h1>
<p>
  <%= render "user.html", user: @user %>
</p>

<h3>Favorite a tweet</h3>

<%= form_for @conn, Routes.favorite_path(@conn, :create), fn f -> %>
  <div>
    <%= text_input f, :search_term, placeholder: "Search Term" %>
    <%= error_tag f, :search_term %>
    <%= submit "Favorite" %>
  </div>
<% end %>